<div class="row">
  <aside class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 100 }) %>" alt="">
      </div>
    </div>
  </aside>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="nav nav-tabs nav-justified">
      <!--ユーザー名,カウント数を表示-->
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %><%= @user.name %>の思い出 <span class="badge"><%= @count_memories %></span><% end %></li>
      <li><a href="#">お気に入りの思い出</a></li>
    </ul>
    <%= render 'memories/memories', memories: @memories %>
  </div>
</div>

